/* In my CSS file, I organized the CSS selectors in alphabetical order */

/* Google Font */
@import url("https://fonts.googleapis.com/css?family=Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Playfair");
@import url("https://fonts.googleapis.com/css?family=Lora");

/* center all text and have no lines under the links */
* {
  text-align: center;
  text-decoration: none;
}

/* background color and padding for nav bar */
#nav {
  background-color: #ececec;
  padding: 0.5em 0;
}

/* add margin */
#nav,
#feature,
#footer {
  margin: 1%;
}

/* height and margin for columns */
.article {
  height: 30em;
  margin-bottom: 1em;
}

.text {
  background-color: gray;
}

/* background images for each column */
.column1 {
  background-image: url("../img/Origin.jpg");
  /* Source: https://www.pinterest.com/pin/146155950380483740/ */
}

.column2 {
  background-image: url("../img/MoonCake.webp");
  /* Source: https://curatedkitchenware.com/blogs/soupeduprecipes/classic-cantonese-mooncake-recipe */
}

.column3 {
  background-image: url("../img/Culture.webp");
  /* Source: https://www.chinahighlights.com/festivals/mid-autumn-festival.htm */
}

/* On screens that are larger than 992px, apply a three column structure */
.column1,
.column2,
.column3 {
  background-size: cover;
  float: left;
  margin: 1%;
  width: 31.3%;
}

/* assign width and center the body */
body {
  margin: 0 auto;
  width: 90%;
}

/* color and font for heading */
h1 {
  color: #f78888;
  font-family: "Oranienbaum", serif;
  font-size: 3em;
}

/* inline display and height padding for nav bar */
li {
  display: inline;
  padding: 0.5em;
}

/* color and font for nav bar */
li a {
  color: #5da2d5;
  font-family: "Playfair";
  font-size: 2em;
}

/* color and font for the description text */
p {
  color: #90ccf4;
  font-family: "Lora", serif;
  font-size: 1em;
}

/* color and font for the subtitles */
p a {
  color: #f3d250;
  font-family: "Lora", serif;
  font-size: 1.5em;
}

/* even spacing for the nav bar */
ul {
  display: flex;
  justify-content: space-evenly;
}

/* On screens that are 992px or less, apply a two column structure */
@media screen and (max-width: 992px) {
  .column1 {
    width: 98%;
    float: left;
    margin-bottom: 1em;
  }
  .column2,
  .column3 {
    width: 48%;
    float: left;
    margin: 1%;
  }
}

/* On screens that are 768 or less, apply a one column structure */
@media screen and (max-width: 768px) {
  .column1,
  .column2,
  .column3 {
    width: 98%;
    float: left;
    margin-bottom: 1em;
  }
}

/* some of my code are from Activity 11B */
